{% extends "common.html" %}
{% load static %}
{% block content %}







<div style="text-align: center;width: 70%;margin: 0 auto;">
<div class="course mx-2" style="padding-top: 13%;"><h1>SCOPE INDIA</h1>
    <h3 style="line-height: 200%;">Center for Software, Networking, & Cloud Education</h3>
    
    <h5>All Trainers at SCOPE INDIA are working professionals, Software Engineers, Networking Engineers, and Software Test Engineers of Suffix E Solutions with
        17 years of Industrial experience.</h5>
  </div>
</div>
     <div class="course_rating_img"></div>
     <div style="text-align: center;margin-top: 5px;" class="mb-5">Google 4.9 * Rated Institute</div>






<div style="width: 85%;" class="container course_course_details_container">




    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-7    bg-transparent " style="margin-right: 3%;"><h3> <b>Software Programming Courses</b></Software></h3></div>
        <div class="col-1  me-5 bg-transparent p-0 " style="margin: 0;"></div>
        <div class="col-1  bg-transparent p-0" style="margin: 0;"></div>
    </div>




    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4"><a href="{% url 'java' %}">Java Full Stack Internship</a></div>
        <div class="col-3  me-4"><a href="{% url 'python' %}">Python Full Stack Internship</a></div>
        <div class="col-3  me-4"><a href="{% url 'php' %}">PHP Full Stack Internship</a></div>
    </div>

    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4"><a href="{% url 'asp' %}">.Net Core Full Stack Internship</a></div>
        <div class="col-3  me-4"><a href="{% url 'mern' %}">MERN Full Stack Internship</a></div>
        <div class="col-3  me-4"><a href="{% url 'mean' %}">MEAN Full Stack Internship</a></div>
    </div>

    <div class="row" style="display: flex;justify-content: center;">
        <div class="col-3  me-4 "><a href="{% url 'flutter' %}">Android/iOS Mobile App Course in Google Flutter</a></div>
        <div class="col-3  me-4"><a href="{% url 'ionic' %}">Android/iOS Mobile App Course in IONIC</a></div>
        <div class="col-3  me-4"><a href="{% url 'webdesign' %}">Website Designing Course</a></div> 

    </div>

    <div class="row " style="display: flex;justify-content: center;" >
        <div class="col-3  me-4"><a href="{% url 'uiux' %}">UI/UX Designing</a></div>
        <div class="col-3  me-5 bg-transparent  p-0 " style="margin: 0;"></div>
        <div class="col-3  bg-transparent  p-0 " style="margin: 0;"></div>
    </div>

    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-7  bg-transparent" style="margin-right: 3%;"><h3> <b>Software Testing Courses</b></h3></div>
        <div class="col-1  me-5 bg-transparent p-0 " style="margin: 0;"></div>
        <div class="col-1  bg-transparent p-0" style="margin: 0;"></div>
    </div>

    <div class="row " style="display: flex;justify-content: center;" >
        <div class="col-3  me-4"  ><a href="{% url 'softwaretesting' %}">Software Testing Advanced Course</a></div>
        <div class="col-3 me-5 bg-transparent p-0 " style="margin: 0;"></div>
        <div class="col-3  bg-transparent p-0 " style="margin: 0;"></div> 
    </div>





    <div class="row " style="display: flex;justify-content: center;margin-bottom: 8px;">
        <div class="col-7  bg-transparent" style="margin-right: 3%;"><h3> <b>Networking, Server, & Cloud</b></h3></div>
        <div class="col-1  me-5  bg-transparent p-0 " style="margin: 0;"></div>
        <div class="col-1   bg-transparent p-0 " style="margin: 0;"></div>
    </div>





<div class="row" style="display: flex;justify-content: center;">
    <div class="col-3  me-4"><a href="{% url 'networking' %}">Networking, Server, & Cloud Administration</a></div>
    <div class="col-3  me-4"><a href="{% url 'aws' %}">AWS Architect Associate</a></div>
    <div class="col-3  me-4"><a href="{% url 'azure' %}">Ms Azure Cloud Administrator</a></div>
</div>

<div class="row " style="display: flex;justify-content: center;">
    <div class="col-3  me-4"><a href="{% url 'rhcsa' %}">Red Hat Certified System Administrator (RHCSA)</a></div>
    <div class="col-3  me-4"><a href="{% url 'rhce' %}">Red Hat Certified Engineer (RHCE)</a></div>
    <div class="col-3  me-4"><a href="{% url 'devops' %}">DevOps Engineer</a></div>
</div>


<div class="row " style="display: flex;justify-content: center;" >
    <div class="col-3  me-4"><a href="{% url 'ccna' %}">Cisco Certified Network Associate(CCNA)</a></div>
    <div class="col-3  me-5 bg-transparent p-0 " style="margin: 0;"></div>
    <div class="col-3  bg-transparent p-0 " style="margin: 0;"></div> 
</div>


<div class="row" style="display: flex;justify-content: center;margin-bottom: 8px;">
    <div class="col-7  bg-transparent" style="margin-right: 3%;"><h3> <b>Other Courses</b></h3></div>
    <div class="col-1  me-5  bg-transparent  p-0 " style="margin: 0;"></div>
    <div class="col-1   bg-transparent p-0 " style="margin: 0;"></div>
</div>


<div class="row " style="display: flex;justify-content: center;">
    <div class="col-3  me-4"><a href="{% url 'datascience' %}">Data Science & AI</a></div>
    <div class="col-3  me-4"><a href="{% url 'dataanalytics' %}">Data Analytics</a></div>
    <div class="col-3  me-4"><a href="{% url 'digitalmarketing' %}">Digital Marketing Expert</a></div>
</div>


<div class="row " style="display: flex;justify-content: center;" >
    <div class="col-3  me-4"><a href="{% url 'microsoftbi' %}">Microsoft Power BI</a></div>
    <div class="col-3 me-5 bg-transparent p-0 " style="margin: 0;"></div>
    <div class="col-3 bg-transparent p-0 " style="margin: 0;"></div> 
</div>




</div>





<div class="mt-5 course_container">
    <div class="course_form_bg_img "  >
  <div class="course_form ">
      <form action="" method="post"> 
        {% csrf_token %}
          
       <div class="row">
         <div class="col-6 p-0 course_form_col1" style="border: 8px solid white;" >
            <div class="col-12 m-2 mb-1">

                <iframe style="width: 97%;height:450px;" src="https://www.youtube.com/embed/MjQG-a7d41Q?si=zWfDvzsc1x5SXWQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
              
  
            </div>
          
      

              <div class="col-6 p-3 course_form_col2 " style="border: 0;">
                {% if messages %}
                {% for mes in messages %}
                <div style="background-color: rgb(78, 90, 78);width: 50%;text-align: center;color: white;">{{mes}}</div>
                {% endfor %}
                 
                {% endif %}
                <div style="text-align: center;">

                <div class="row m-4"><h3 style="text-align: start;padding: 0;">We are open 365 days
                </h3></div>
                <div class="m-4"><p style="text-align: start;">SCOPE INDIA is open 7/24 hrs to talk to you and listen to your queries.</p></div>
                <div class="row ms-2" style="text-align: start;"><h3>GET A FREE CALL BACK
                </h3></div>


<div class="row m-4 mt-0">
    <input name="name" type="text" class="address p-1" id="name" placeholder="Enter your name" required>
</div>


<div class="row m-4">
    <input name="phone" type="phone" class=" p-1" id="phone" placeholder="Enter your phone number" required>
</div>
<div class="row m-4">
      <button style="height: 35px;background-color: rgb(97, 243, 97); border-radius: 3px;">Call Me</button>                        
</div><br>


</div>

</div>





</div>
</div>  

</form> 
</div>
</div>

<div style="width:100%;height: 120px;" class="course_end_img"></div>


{% endblock content %}







































































































<!-- <div class="contact mx-2" style="text-align: center;padding-top: 13%;"><h1>SCOPE INDIA is open 365 days a year</h1>
    <h3 style="line-height: 200%;">Let's discuss your career, 24/7 free Consultation</h3>
  </div>

     <div class="contact_rating_img"></div>
     <div style="text-align: center;margin-top: 5px;">Google 4.9 * Rated Institute</div>






<div style="width: 85%;" class="container col-12 ">




    <div class="row mb-3" style="display: flex;justify-content: center;">
        <div class="col-7 me-5   "><h4 >Software Programming Courses</h4></div>
        <div class="col-1  me-5 "></div>
        <div class="col-1  "></div>
    </div>




    <div class="row mb-4" style="display: flex;justify-content: center;">
        <div class="col-lg-3 col-md-12 mb-3  me-4">e</div>
        <div class="col-lg-3 col-md-12 mb-3  me-4">e</div>
        <div class="col-lg-3 col-md-12  me-4 mb-3">e</div>
    </div>

    <div class="row mb-4" style="display: flex;justify-content: center;">
        <div class="col-lg-3  col-md-12  me-4 mb-3">e</div>
        <div class="col-lg-3  col-md-12  me-4 mb-3">e</div>
        <div class="col-lg-3  col-md-12  me-4 ">e</div>
    </div>

    <div class="row mb-4" style="display: flex;justify-content: center;">
        <div class="col-lg-3 col-md-12  me-4 mb-3">e</div>
        <div class="col-lg-3 col-md-12  me-4 mb-3">e</div>
        <div class="col-lg-3 col-md-12  me-4">e</div> 

    </div>

    <div class="row mb-4" style="display: flex;justify-content: center;" >
        <div class="col-3  me-4">e</div>
        <div class="col-3 me-4"></div>
        <div class="col-3 me-4"></div> 
    </div>

    <div class="row mb-3" style="display: flex;justify-content: center;">
        <div class="col-7  me-5"><h4>Software Programming Courses</h4></div>
        <div class="col-1  me-5"></div>
        <div class="col-1 "></div>
    </div>

    <div class="row mb-4" style="display: flex;justify-content: center;" >
        <div class="col-3  me-4">e</div>
        <div class="col-3 me-4"></div>
        <div class="col-3 me-4"></div> 
    </div>





    <div class="row mb-3" style="display: flex;justify-content: center;">
        <div class="col-7 me-5   "><h4 >Software Programming Courses</h4></div>
        <div class="col-1  me-5 "></div>
        <div class="col-1  "></div>
    </div>





<div class="row mb-4" style="display: flex;justify-content: center;">
    <div class="col-3  me-4">e</div>
    <div class="col-3  me-4">e</div>
    <div class="col-3  me-4">e</div>
</div>

<div class="row mb-4" style="display: flex;justify-content: center;">
    <div class="col-3  me-4">e</div>
    <div class="col-3  me-4">e</div>
    <div class="col-3  me-4">e</div>
</div>


<div class="row mb-4" style="display: flex;justify-content: center;" >
    <div class="col-3  me-4">e</div>
    <div class="col-3 me-4"></div>
    <div class="col-3 me-4"></div> 
</div>


<div class="row mb-3" style="display: flex;justify-content: center;">
    <div class="col-7 me-5   "><h4 >Software Programming Courses</h4></div>
    <div class="col-1  me-5 "></div>
    <div class="col-1  "></div>
</div>

<div class="row mb-4" style="display: flex;justify-content: center;" >
    <div class="col-3  me-4">e</div>
    <div class="col-3 me-4"></div>
    <div class="col-3 me-4"></div> 
</div>

</div>





<div class="mt-5 contact_container">
    <div class="contact_form_bg_img"  >
  <div class="contact_form">
      <form action="" method="post"> 
          
       <div class="row">
         <div class="col-6 contact_form_col1" style="border: 8px solid white;" >
            <div class="col-12 m-2 mb-1">

                <iframe style="width: 97%;height:450px;" src="https://www.youtube.com/embed/MjQG-a7d41Q?si=zWfDvzsc1x5SXWQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
              
  
            </div>
          
      

              <div class="col-6  p-3 contact_form_col2 " style="border: 0;">
                <div style="text-align: center;">

                <div class="row m-4"><h3 style="text-align: start;padding: 0;">We are open 365 days
                </h3></div>
                <div class="m-4"><p style="text-align: start;">SCOPE INDIA is open 7/24 hrs to talk to you and listen to your queries.</p></div>
                <div class="row ms-2" style="text-align: start;"><h3>GET A FREE CALL BACK
                </h3></div>


<div class="row m-4 mt-0">
    <input type="address" class="address p-1" id="address" placeholder="Enter your name">
</div>


<div class="row m-4">
    <input type="country" class="country p-1" id="country" placeholder="Enter your phone number">
</div>
<div class="row m-4">
      <button style="height: 35px;background-color: rgb(97, 243, 97); border-radius: 3px;">Call Me</button>                        
</div><br>


</div>

</div>





</div>
</div>  

</form> 
</div>
</div>-->