{% extends "courses.html" %}
{% load static %}




{% block course %}
Flutter - Android - iOS Mobile App Internship
{% endblock course %}





{% block coursecontent %}
<div style="width: 85%;color: rgb(20, 20, 109); " class="container course_course_details_container">

    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4">SQl</div>
        <div class="col-3  me-4">Dart</div>
        <div class="col-3  me-4">Flutter</div>
    </div>

    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4">Regular Expressions</div>
        <div class="col-3  me-4">Firebase</div>
        <div class="col-3  me-4">SQLite</div>
    </div>



    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4">State Management - Provider</div>
        <div class="col-3  me-4">REST APIs</div>
        <div class="col-3  me-4">App Deployment Tools</div>
    </div>


    
    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4">GIT Version Control</div>
        <div class="col-3  me-4">Live Projects</div>
        <div class="col-3  me-4">Interview Preparation</div>
    </div>

    <div class="row " style="display: flex;justify-content: center;">
        <div class="col-3  me-4">Placement Support</div>
        <div class="col-3  me-4">OJT</div>
        <div class="col-3  me-4">-</div>
        
        
    </div>

    

{% endblock coursecontent %}