 {% load static %}







<div class="footer" style="background-color:#021b5b;padding-bottom: 75px; ">
    <div class="footer_top_color_img" style="width: 100%; height: 100%;">

    <div class="footer_scopetext_img" style="width: 100%; height:150px;"></div>
    <div style="text-align: center;">Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu</div>
    <div class="footer_certification_img" style="width: 100%;height: 100px;text-align: center;"></div>
    <div style="text-align: center;" class="mb-3">An ISO 9001:2015 Certified Company</div></div>
    <div style="text-align: center;" class="mb-3">All Rights Reserved Suffix E Solutions © 2007-2024</div>
    <div>
        <div class="row" style="justify-content: center;">
            <div class="row footer_contact" style="width: 75%;text-align: center;">
            <div class="col-1"></div>
            <div class="col-2">5465464456</div>
            <div class="col-2">5465464456</div>
            <div class="col-2">5465464456</div>
            <div class="col-2">5465464456</div>
            <div class="col-2">5465464456</div>
            <div class="col-1"></div>
        </div>
    </div>
    </div>
    




  </div>
</div>

<script src="{% static 'js/main.js' %}"></script>


</body>
</html> 