{% extends "common.html" %}
{% load static %}
{% block content %}



<div class="knowcontainer know" style="text-align: center;padding-top: 13%;">
<div class="" ><h1>SCOPE INDIA, your career partner!</h1>
    
    <h2 style="font-size: 34px;">One of the best Training Destination for Software, Networking and Cloud Computing courses in India with 17 years of Industrial experience</h2>
    <p style="text-align: justify;">Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for <strong>Software Programming</strong> in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN, <strong>Software Testing </strong>Manual and Automation, <strong>Cloud Computing</strong> (AWS | Azure), <strong>Server Administration</strong> (MicroSoft MCSE | Linux RHCE), Networking (CCNA), <strong>DevOps</strong>, <strong>Mobile App Development</strong> in Flutter, and <strong>Digital Marketing. Training</strong> with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students every year. We assure you, you won't regret it after training from SCOPE INDIA!

      <p style="text-align: start;">This is how SCOPE INDIA can support both newbies and experienced in the industry to upgrade their skills.</p></p>
      <div class="know_rating_img"></div>
     <div style="margin-top: 5px;">Google 4.9 * Rated Institute</div>
     <div class="row">
      <div class="col-12"><a href="{% url 'login' %}"><button class="mb-4" style="width: 100%;height: 50px;background-color: rgb(159, 236, 211);border-radius: 5px">Recent Placements</button></a></div>
      <div class="col-12"><a href="{% url 'course' %}"><button class="mb-4" style="width: 100%;height: 50px;background-color: rgb(156, 156, 232);border-radius: 5px">Courses</button></a></div>
      <div class="col-12"><a href="{% url 'register' %}"><button class="mb-4" style="width: 100%;height: 50px;background-color: rgb(240, 182, 182);border-radius: 5px">Register Now</button></a></div>
     </div>

  </div></div>
  <!-- <div class="know_img" style="width: 100%;padding-top: 100px;padding-bottom: 150px;height: 250px;"></div> -->



  <div style="display: flex;gap: 50px;justify-content: center;">
    <div style="width: fit-content;text-align: center;">
        <h1 style="margin-bottom: 0;color: greenyellow;"><b>1000+</b></h1>
        <h6 style="letter-spacing: 5px;line-height: 15px;"> 
        STUDENTS ARE <br>
        TRAINED EVERY YEAR</h6>
    </div>
    
    
    <div style="width: fit-content;text-align: center;margin-top: -50px;">
        <h1 style="margin-bottom: 0;color: greenyellow;"><b>30+</b></h1>
        <h6 style="letter-spacing: 5px;line-height: 15px;"> 
        COMPUTER COURSES</h6>
    </div>
    
    
    
    <div style="width: fit-content;text-align: center;">
        <h1 style="margin-bottom: 0;color: greenyellow;"><b>95%</b></h1>
        <h6 style="letter-spacing: 5px;line-height: 15px;"> 
            STUDENTS ARE GETTING<br>
        PLACED EVERY YEAR</h6>
    </div>
    
    
    </div>
    
    </div>
    </div>



  
  <div style="width:100%;height: 120px;" class="contact_locationbx_end_img"></div>









{% endblock content %}