{% extends "common.html" %}
{% load static %}
{% block content %}



<div class="contact mx-2" style="text-align: center;padding-top: 13%;"><h1>Placement Cell</h1>
  </div>

     <div class="contact_rating_img"></div>
     <div style="text-align: center;margin-top: 5px;">Google 4.9 * Rated Institute</div>
  


<div style="display: flex;align-items: center;"></div>
<div style="display: grid;border: 2px solid yellow;grid-template-columns: repeat(auto-fill,130px);justify-content:  center;width: 100%;">
    
<div style="border: 2px solid;">33333333</div>


<div>aaaaa</div>
<div>bbbbb </div>

<div>ccccc </div>

<div>ddddd </div>

<div>eeeeeeee </div>

<div>ccccc </div>

<div>ddddd </div>

<div>eeeeeeee </div><div>ccccc </div>

<div>ddddd </div>

<div>eeeeeeee </div><div>ccccc </div>

<div>ddddd </div>

<div>eeeeeeee </div><div>ccccc </div>

<div>ddddd </div>

<div>eeeeeeee </div><div>ccccc </div>

<div>ddddd </div>

<div>eeeeeeee </div><div>ccccc </div>

<div>ddddd </div>

</div>
</div>





 <div style="width: 100%; display: grid;grid-template-columns: repeat(auto-fill, minmax(50px, 350px));justify-content: center;">
    <img src="{% static 'img\5star.png' %}" alt="nmk" style="width: 100%;height:auto;">
    
</div> 




<div style="width:100%;height: 120px;" class="course_end_img"></div>
4
{% endblock content %} 